<div class="panel panel-default">
  <div class="total panel-heading">共有<%= post.comments.length %>条回复</div>
  <div class="items panel-body">
    <% post.comments.each do |comment|%>
      <div class="reply">
        <div class="face pull-left"><%= image_tag(comment.commenter.user_image) %></div>
        <div class="infos">
          <div class="info">
            <%=comment.commenter.user_name%>  
            <%= time_ago_in_words(comment.created_at) %> #<%= post.comments.index(comment)+1 %>
            <a href="#comment" onclick='add_reply(<%=comment.id%>, <%= post.comments.index(comment)+1 %>, "<%=comment.commenter.user_name %>");' > 快速回复</a>
            <%=link_to "编辑",edit_comment_path(comment.id) if current_user == comment.commenter %>
          </div>
          <div class="body"><%=comment.content.html_safe%></div>
        </div>
      </div>
    <%end%>
  </div>
</div>
<br>
<br>

