<ul class="breadcrumb">
  <li><%=link_to "首页", posts_path %></li>
  <li><%= @section.name %></li>
  <%=link_to "新建", new_post_path, class: "pull-right"%>
</ul>
<center>话题节点: <%= @section.name %> </center>
<%= render partial:  'squirrel/common/posts_list', locals: {posts: @posts}%>
<%= render partial:  'squirrel/common/section_list', locals:{sections: @sections}%>

